nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.display-none{
    display: none;
}

.button-collapse {
    color: #ee6e73;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}


.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}


.parallax img
{
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-container
{
    color: black;
}
@media only screen and (max-width : 600px) {
    .parallax-container
    {
        color: white;
    }
}
nav a.button-collapse
{
    color:black;
}
.purple.lighten-1 {
    background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
    color: #CC0066 !important;
}
.share-buttons{
    list-style: none;
}

.share-buttons li{
    display: inline;
}
nav
{
    overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sidenav-main, .sidenav-footer {
    padding-left: 240px;
}

#slide-out{
    margin-top: 64px;
}

@media only screen and (max-width : 992px) {
    .sidenav-main, .sidenav-footer {
        padding-left: 0;
    }
    #slide-out{
        margin-top: 0px;
    }
}

.dark-mask-bg{
    background-color: rgba(0, 0, 0, 0.6);
}

.light-mask-bg{
    background-color: rgba(255, 255, 255, 0.2);
}

.business-card{
    padding: 0 0.15rem !important;
}


ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    height: 50px;
    font-size:12px;
    color: rgba(119, 119, 119, 0.7);
}

/* Highlight the "current" day */
.days li.active {
    background: #1abc9c;
    color: white !important;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.days li a{
    color: inherit !important;
}