extends ../includes/layout

.wrapper
    block main-content
        .main-content

        div(ng-controller="ngNavbarCtrl as navbarVm")
            #navbar.navbar-fixed.scrollspy
                nav(ng-class="{'white': !layout.hasSidenav(), 'red lighten-1': layout.hasSidenav()}")
                    .nav-wrapper.container
                        .container
                            a.brand-logo(href='/index', ng-class="{'white-text': layout.hasSidenav()}") GOReservas
                        a.button-collapse(href='#', data-activates='mobile-demo')
                            i.mdi-navigation-menu
                        div(ng-show="!layout.isAuthenticated()")
                            ul.right.hide-on-med-and-down
                                li
                                    a.head-link(href='#register', scrolling-link) Registrar
                                li
                                    a.head-link.modal-trigger(href='#loginModal' modal) Entrar
                            ul#mobile-demo.right.side-nav
                                li
                                    a.head-link(href='#register', scrolling-link) Registrar
                                li
                                    a.head-link(href='#loginModal' modal) Entrar
                        div(ng-show="layout.isAuthenticated()")
                            ul.right.hide-on-med-and-down
                                li
                                    // Dropdown Trigger
                                    a.dropdown-button.white-text(href='#', data-activates='dropdownUser', dropdown)
                                        | {{layout.getUserFirstName()}}
                                        i.fa.fa-fw.fa-caret-down
                                    // Dropdown Structure
                                    ul#dropdownUser.dropdown-content
                                        li
                                            a(href='/profile')
                                                i.fa.fw-fw.fa-user.secondary-content
                                                |  Perfil
                                        li
                                            a(href='#!', ng-click="navbarVm.logout()")
                                                i.fa.fa-fw.fa-sign-out.secondary-content
                                                |  Sair

            ul#slide-out.side-nav.fixed(ng-show="layout.hasSidenav()")
                li.active
                    a(href='/dashboard')
                        b
                            i.fa.fa-fw.fa-home
                            |  Início
                li
                    a(href='/calendar')
                        b
                            i.fa.fa-fw.fa-calendar
                            |  Minhas Reservas
                li
                    a(href='/search-business')
                        b
                            i.fa.fa-fw.fa-search
                            |  Procurar

        main(ng-class="{'sidenav-main': layout.hasSidenav()}")
            section.content
                div(ng-view)

        footer.page-footer.red(ng-class="{'sidenav-footer': layout.hasSidenav()}")
            .footer-copyright
                .container
                    p Copyright © GOReservas

